#CURRENT_UID=$(id -u) CURRENT_GID=$(id -g) docker-compose up -d
version: '3'

services:
  domoticz:
    image: "tygerlord/domoticz:latest"
    container_name: "domoticz"
    restart: always
    privileged: true
    depends_on:
      - zigbee2mqttGUI
    ports: 
      - 8080:8080
      - 6144:6144
      - 1443:1443
      - 9440:9440
    volumes:
       - "$START_FROM_DIR/domoticz/config:/config"
    environment:
       - PUID=${CURRENT_UID}
       - PGID=${CURRENT_GID}
       - TZ=Europe/Paris
       #- WEBROOT=domoticz #optional


  mosquitto:
    image: "eclipse-mosquitto:latest"
    container_name: "mosquitto"
    user: "${CURRENT_UID}:${CURRENT_GID}"
    restart: always
    ports:
      - 1883:1883
      - 8883:8883
      - 9001:9001
    volumes:
      - "$START_FROM_DIR/mosquitto/config:/mosquitto/config"
      - "$START_FROM_DIR/mosquitto/log:/mosquitto/log"
      - "$START_FROM_DIR/mosquitto/data:/mosquitto/data"
    environment:
        - TZ=Europe/Paris

  zigbee2mqtt:
    depends_on:
      - mosquitto
    image: "koenkk/zigbee2mqtt:latest"
    container_name: "zigbee2mqtt"
    restart: always
    privileged: true
    volumes:
      - "$START_FROM_DIR/zigbee2mqtt/data:/app/data"
      - "/run/udev:/run/udev:ro"
    devices: 
      - "/dev/ttyACM0:/dev/ttyACM0"
    environment:
      - TZ=Europe/Paris
  
  zigbee2mqttGUI:
    depends_on:
      - zigbee2mqtt
    image: "carldebilly/zigbee2mqttassistant"
    container_name: "zigbee2mqttGUI"
    restart: always
    ports:
      - 8880:80
    environment:
      - Z2MA_SETTINGS__MQTTSERVER=mosquitto
      - Z2MA_SETTINGS__MQTTUSERNAME=MQTT_user 
      - Z2MA_SETTINGS__MQTTPASSWORD=cevdevmqtt

  lighttpd:
    image: "sebp/lighttpd"
    restart: always
    volumes:
      - $START_FROM_DIR/lighttpd/htdocs:/var/www/localhost/htdocs
      - $START_FROM_DIR/lighttpd/etc/lighttpd:/etc/lighttpd
    ports:
      - 9090:9090
      - 9091:9091
    tty: true


