# docker-compose up -d
version: '3.3'

services:
  homeassistant:
          #image: "homeassistant/raspberrypi3-homeassistant:stable"
    image: "homeassistant/home-assistant:stable"
    container_name: "homeassistant"
    restart: unless-stopped
    privileged: true
    ports:
      - 8123:8123
    depends_on:
      - mosquitto
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./homeassistant:/config"
      - "./homeassistant/docker/run:/etc/service.d/homeassistant/run"
    environment:
      - "DISABLE_JEMALLOC=1"
      - "PUID=1000"
      - "GUID=1000"
      - "UMASK=002"
      - "PACKAGES=iputils"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homeassistant.rule=Host(`${MYHOME_TRAEFIK_DOMAIN}`)"
      - "traefik.http.routers.homeassistant.entrypoints=https"
      - "traefik.http.routers.homeassistant.tls=true"
      - "traefik.http.routers.homeassistant.tls.certresolver=myhomeresolver"
      - "traefik.http.services.homeassistant.loadbalancer.server.port=8123"


  mosquitto:
    image: "eclipse-mosquitto:latest"
    container_name: "mosquitto"
    user: "1000:1000"
    restart: unless-stopped
    ports:
      - 1883:1883
      - 8883:8883
      - 9001:9001
    volumes:
      - "./mosquitto/config:/mosquitto/config"
      - "./mosquitto/log:/mosquitto/log"
      - "./mosquitto/data:/mosquitto/data"
    environment:
      - TZ=Europe/Paris

  zigbee2mqtt:
    depends_on:
      - mosquitto
    image: "koenkk/zigbee2mqtt:latest"
    container_name: "zigbee2mqtt"
    restart: unless-stopped
    privileged: true
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "./zigbee2mqtt/data:/app/data"
      - "/run/udev:/run/udev:ro"
    devices: 
      - "/dev/ttyACM0:/dev/ttyACM0"
    environment:
      - "ZIGBEE2MQTT_CONFIG_MQTT_USER=${MYHOME_Z2MA_SETTINGS__MQTTUSERNAME}"
      - "ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD=${MYHOME_Z2MA_SETTINGS__MQTTPASSWORD}"
  
  zigbee2mqttGUI:
    depends_on:
      - zigbee2mqtt
    image: "carldebilly/zigbee2mqttassistant"
    container_name: "zigbee2mqttGUI"
    restart: unless-stopped
    ports:
      - "8880:8880"
    environment:
      - "ASPNETCORE_URLS=http://*:8880"
      - "Z2MA_SETTINGS__MQTTSERVER=mosquitto"
      - "Z2MA_SETTINGS__MQTTUSERNAME=${MYHOME_Z2MA_SETTINGS__MQTTUSERNAME}"
      - "Z2MA_SETTINGS__MQTTPASSWORD=${MYHOME_Z2MA_SETTINGS__MQTTPASSWORD}"
    labels:
      - "traefik.enable=false"
      - "traefik.http.routers.zigbee2mqttgui.rule=Host(`${MYHOME_TRAEFIK_DOMAIN}`)&&PathPrefix(`/zigbee2mqttgui`)"
      - "traefik.http.routers.zigbee2mqttgui.entrypoints=https"
      - "traefik.http.routers.zigbee2mqttgui.tls=true"
      - "traefik.http.routers.zigbee2mqttgui.tls.certresolver=myhomeresolver"
      - "traefik.http.services.zigbee2mqttgui.loadbalancer.server.port=1880"

  tools:
    build: tools
    container_name: tools
    restart: unless-stopped
    depends_on:
      - reverse-proxy
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/watchdog.conf:/etc/watchdog.conf"
      - ".:/home/pi/myhome"
    ports:
      - "4200:4200"
    environment:
      - "USER_PI_PASSWORD=${MYHOME_TOOLS_USER_PI_PASSWORD}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.shellinabox.rule=Host(`${MYHOME_TRAEFIK_DOMAIN}`)&&PathPrefix(`/shellinabox`)"
      - "traefik.http.routers.shellinabox.entrypoints=https"
      - "traefik.http.routers.shellinabox.tls=true"
      - "traefik.http.routers.shellinabox.tls.certresolver=myhomeresolver"
      - "traefik.http.routers.shellinbox.middlewares=authelia"
      - "traefik.http.services.shellinabox.loadbalancer.server.port=4200"

  nodered:
    image: nodered/node-red
    container_name: nodered
    restart: unless-stopped
    depends_on:
      - reverse-proxy
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "./nodered:/data"
    ports:
      - "1880:1880"
    environment:
      - "NODERED_ACCESS_TOKEN=${MYHOME_NODERED_ACCESS_TOKEN}"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nodered.rule=Host(`${MYHOME_TRAEFIK_DOMAIN}`)&&PathPrefix(`/nodered`)"
      - "traefik.http.routers.nodered.entrypoints=https"
      - "traefik.http.routers.nodered.tls=true"
      - "traefik.http.routers.nodered.tls.certresolver=myhomeresolver"
        # - "traefik.http.routers.nodered.middlewares=authelia"
      - "traefik.http.middlewares.nodered.forwardauth.address=https://${MYHOME_TRAEFIK_DOMAIN}/authelia"
      - "traefik.http.services.nodered.loadbalancer.server.port=1880"

 
  reverse-proxy:
    image: traefik:latest
    restart: unless-stopped
    container_name: reverse_proxy
    depends_on:
      - authelia
    ports: 
      - "443:443"
      - "80:80"
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./traefik/acme:/etc/traefik/acme"
    environment:
     - "TRAEFIK_ACCESSLOG=false"
     - "TRAEFIK_LOG_LEVEL=error"  
     - "TRAEFIK_ACCESSLOG_FIELDS_DEFAULTMODE=keep"
     - "TRAEFIK_ACCESSLOG_FIELDS_HEADERS_DEFAULTMODE=keep"
     - "TRAEFIK_ENTRYPOINTS_HTTP=true"
     - "TRAEFIK_ENTRYPOINTS_HTTP_ADDRESS=:80"
     - "TRAEFIK_ENTRYPOINTS_HTTPS=true"
     - "TRAEFIK_ENTRYPOINTS_HTTPS_ADDRESS=:443"
     - "TRAEFIK_PROVIDERS_DOCKER=true"
     - "TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT=false"
     - "TRAEFIK_API=false"
     - "TRAEFIK_API_INSECURE=true"
     - "TRAEFIK_CERTIFICATESRESOLVERS_MYHOMERESOLVER=true"
     - "TRAEFIK_CERTIFICATESRESOLVERS_MYHOMERESOLVER_ACME_EMAIL=${MYHOME_EMAIL}"
     - "TRAEFIK_CERTIFICATESRESOLVERS_MYHOMERESOLVER_ACME_STORAGE=/etc/traefik/acme/acme.json"
     - "TRAEFIK_CERTIFICATESRESOLVERS_MYHOMERESOLVER_ACME_HTTPCHALLENGE_ENTRYPOINT=http"
    labels:
      - "traefik.enable=false"
      - "traefik.http.routers.api.rule=PathPrefix(`/api`)||PathPrefix(`/dashboard`)"
      - "traefik.http.routers.api.service=api@internal"
      - "traefik.http.routers.api.entrypoints=http"
      - "traefik.http.services.api.loadbalancer.server.port=80"
      - "traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/verify?rd=https://${MYHOME_TRAEFIK_DOMAIN}/authelia"
      - "traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true"
      - "traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User, Remote-Groups, Remote-Name, Remote-Email"
        #- "traefik.http.routers.api.middlewares=auth"
        #      - "traefik.http.middlewares.auth.basicauth.users=${MYHOME_TRAEFIK_USER}"

  authelia:
    image: authelia/authelia
    container_name: authelia
    restart: unless-stopped
    depends_on:
      - redis
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "./authelia:/config"
    ports:
      - "9091:9091"
    environment:
      - "PUID=1000"
      - "GUID=1000"
      - "AUTHELIA_JWT_SECRET=${MYHOME_AUTHELIA_JWT_SECRET}"
      - "AUTHELIA_SESSION_SECRET=${MYHOME_AUTHELIA_SESSION_SECRET}"
      - "AUTHELIA_SESSION_REDIS_PASSWORD=${MYHOME_AUTHELIA_SESSION_REDIS_PASSWORD}"
      - "AUTHELIA_NOTIFIER_SMTP_PASSWORD=${MYHOME_AUTHELIA_NOTIFIER_SMTP_PASSWORD}"
      - "AUTHELIA_SMTP_HOST=${MYHOME_AUTHELIA_SMTP_HOST}"  
      - "AUTHELIA_SMTP_SENDER=${MYHOME_AUTHELIA_SMTP_SENDER}"  
      - "AUTHELIA_DOMAIN=${MYHOME_TRAEFIK_DOMAIN}"  
      - "AUTHELIA_DEFAULT_REDIRECTION_URL=${MYHOME_AUTHELIA_DEFAULT_REDIRECTION_URL}"  
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.authelia.rule=Host(`${MYHOME_TRAEFIK_DOMAIN}`)&&PathPrefix(`/authelia`)"
      - "traefik.http.routers.authelia.entrypoints=https"
      - "traefik.http.routers.authelia.tls=true"
      - "traefik.http.routers.authelia.tls.certresolver=myhomeresolver"
        #- "traefik.http.middlewares.authelia.forwardauth.address=http://authelia:9091/api/verify?rd=https://${MYHOME_TRAEFIK_DOMAIN}/authelia"
        #- "traefik.http.middlewares.authelia.forwardauth.trustForwardHeader=true"
        #- "traefik.http.middlewares.authelia.forwardauth.authResponseHeaders=Remote-User, Remote-Groups, Remote-Name, Remote-Email"
        #- "traefik.http.middlewares.authelia-basic.forwardauth.address=http://authelia:9091/api/verify?auth=basic"
        #- "traefik.http.middlewares.authelia-basic.forwardauth.trustForwardHeader=true"
        #- "traefik.http.middlewares.authelia-basic.forwardauth.authResponseHeaders=Remote-User, Remote-Groups, Remote-Name, Remote-Email"

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    volumes:
      - "/etc/timezone:/etc/timezone:ro"
      - "./redis:/data"
    ports:
      - "6379:6379"
    environment:
      - "PUID=1000"
      - "GUID=1000"

